.CompanyCard {
  margin: 20px 0px;
  padding: 5px
}

.CompanyCard:hover {
  color: #007BFF;
  cursor: pointer;

}

.CompanyCard-NameImg {
  display:flex; 
  justify-content:space-between
}

.Company-Img {
  max-width:100px
}
